html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'ionicons';
    background: #F3F5FC;
}

/*** Aquí inicia el header ***/

header {
    background-color: #F3F5FC;
    padding: 6px 8px;
    margin-bottom: 1%;
}

.caja{
    width: 90%;
    display: block;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 21px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

.buttons {
    position: absolute;
    top: 2px;
  }
  
.buttons a {
    height: 50px;
    width: 50px;
    display: inline-block;
    color: white;
    background: #0A3871;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 50%;
    margin-left: 10px;
    transition: 0.1s all;
}

.buttons i{
    margin-top: 9px;
    font-size: 31px;
}

.buttons a:hover{
    transform: scale(1.1);
}

/*** Aquí termina el header ***/

.contenedor{
    min-height: 10vh;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}

.contenedor_div{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left{
    display: inline-block;
}

.receptor{
    align-items: center;
    width: 100%;
    margin-right: 10px;
    padding: none;
    box-sizing: border-box;
}

#textoInicial{
    align-items: center;
    text-align: justify;
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 34px;
    border: none;
    background-color: #F3F5FC;
    resize: none;
}

#textoInicial:focus, 
#textoInicial:active{
    border: none;
    outline: none;
}

.input-padron{
    background-color: #F3F5FC;
    border: none;
    width: 100%;
    font-size: 28px;
    line-height: 100%;
}

.desicion {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: none;
    box-sizing: border-box;
}

.desicion p{
    width: 100%;
    margin-bottom: 2%;
    color:#495057;
}

.botones {
    top: 100%;
    left: 10%;
  }
  
  .botones a {
    height: 60px;
    width: 230px;
    display: inline-block;
    color: #D8DFE8;
    background: #0A3871;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 24px;
    margin-left: 10px;
  }
  
  .botones a::before {
    content: 'Encriptar';
    display: block;
    margin: 9px 0;
    transition: all ease-in-out .3s;
  }
  
  .botones a:hover::before {
    margin-top: -44px;
  }
  
  
  .botones a::after {
    content: url(imagenes/bloquear.svg);
    display: block;
    margin: 13px 0; 
    transition: all ease-in-out .3s;
  }
  
  .botones a#desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    border: 2px solid #0A3871;
  }
  
  a#desencriptar::before {
    content: 'Desencriptar';
  }
  
  a#desencriptar::after {
    content: url(imagenes/desbloquear.svg);
  }*/


.desicion{
    background: yellowgreen;
}

#emisor {
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,10%);
    width: 100%;
    height: 95%;
    padding: 0 1%;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 32px;
}

#emisor img{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 20%;
    left: 20%;
    border: none;
    padding: 0 5% 0 5%;
    /*padding: 0;*/
    z-index: 1;
}

#mensaje1{
    font-weight: bolder;
    width: 90%;
    color: #343A40;
    font-size: 180%;
    padding: 0 1% 0 5%;
    z-index: 1;
}

#mensaje2{
    color: #495057;
    width: 90%;
    font-size: 140%;
    top: 85%;
    padding: 0 1% 0 5%;
    z-index: 1;
}

.copiar{
    position: relative;
    width: 35%;
    align-self: center;
    padding: 8px 2px;
    margin: 25px 10px;
    top: 85%;
    font-family: 'ionicons';
    font-size: 200%;
    color: #0A3871;
    background: #D8DFE8;
    border: 2px solid #0A3871;
    border-radius: 24px;
    transition: 0.5s all;
    cursor: pointer;
}

.copiar:hover{
    width: 37%;
    background: #22599c;
}

#textoFinal{
    position: relative;
    width: 80%;
    height: 70%;
    margin-top: 5%;
    font-size: 34px;
    border: none;
    resize: none;
    z-index: 0;
}

#textoFinal:focus, 
#textoFinal:active{
    border: none;
    outline: none;
}

#textoFinal::moz-selection{
    background-color: #144785;
}

#textoFinal::selection{
    background-color:#144785;
}

.btn-copiar #textoFinal{
    position: relative;
    width: 180px;
    border: 0;
}

footer{
    background-color: #0A3871;
    color: #D8DFE8;
    padding: 6px 8px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}

footer p{
    background: 
}

@media screen and (max-width: 450px){

    .botones a:hover::after {
        margin-top: -10px;
      }

    #encriptar, #desencriptar{
        width: 50%;
    }

    #encriptar:hover{
        width: 55%;
        background: #22599c
    }

    #desencriptar:hover{
        width: 55%;
        background: #9fadbe;
    }

    #emisor{
        padding: none;
    }

    #textoFinal{
        margin: none;
    }

    .botones a {
        font-size: 26px;
    }

    .botones a::before {
        margin: 17px 0;
      }

    .botones a:hover::before {
        margin-top: -27px;
    }
    
    .copiar{
        font-size: 150%;
    }

}